
.form-control{
    width: 100%;
    max-width: 176px;
    max-height: 36px;
    height: auto;

    border-radius: 6px;
    border: 1px solid #414144;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
}

.form-control2{
    width: 100%;
    max-width: 733px;
    height: auto;
    max-height: 36px;

    border-radius: 6px;
    border: 1px solid #414144;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
}
